The goal of this challenge is to look at user purchase history and create categories of items that are likely to be bought together and, therefore, should belong to the same section.

In [2]:
# import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# read data
item_to_id = pd.read_csv('/Users/kexinluo/Desktop/DS_take_home/9.grocery cluster/item_to_id.csv')
print(item_to_id.shape)
item_to_id.head()

(48, 2)

         Item_name  Item_id
0           coffee       43
1              tea       23
2            juice       38
3             soda        9
4  sandwich loaves       39

In [7]:
purchase_history = pd.read_csv('/Users/kexinluo/Desktop/DS_take_home/9.grocery cluster/purchase_history.csv')
print(purchase_history.shape)
purchase_history.head()

(39474, 2)

   user_id                                                 id
0   222087                                              27,26
1  1343649                                            6,47,17
2   404134                       18,12,23,22,27,43,38,20,35,1
3  1110200                                 9,23,2,20,26,47,37
4   224107  31,18,5,13,1,21,48,16,26,2,44,32,20,37,42,35,4...

In [8]:
len(set(purchase_history['user_id']))
# Some users have multiple purchases

24885