In [2]:
import  warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# Load Data

In [3]:
user = pd.read_csv('/Users/kexinluo/Desktop/DS_take_home/5.Funnel_Analysis/user_table.csv', parse_dates=['date'])
user.head()

   user_id       date   device     sex
0   450007 2015-02-28  Desktop  Female
1   756838 2015-01-13  Desktop    Male
2   568983 2015-04-09  Desktop    Male
3   190794 2015-02-18  Desktop  Female
4   537909 2015-01-15  Desktop    Male