In [1]:
import  warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# Load Data

In [2]:
user = pd.read_csv('/Users/kexinluo/Desktop/DS_take_home/5.Funnel_Analysis/user_table.csv', parse_dates=['date'])
user.head()

   user_id       date   device     sex
0   450007 2015-02-28  Desktop  Female
1   756838 2015-01-13  Desktop    Male
2   568983 2015-04-09  Desktop    Male
3   190794 2015-02-18  Desktop  Female
4   537909 2015-01-15  Desktop    Male

In [3]:
home = pd.read_csv('/Users/kexinluo/Desktop/DS_take_home/5.Funnel_Analysis/home_page_table.csv')
home.head()

   user_id       page
0   313593  home_page
1   468315  home_page
2   264005  home_page
3   290784  home_page
4   639104  home_page

In [5]:
search = pd.read_csv('/Users/kexinluo/Desktop/DS_take_home/5.Funnel_Analysis/search_page_table.csv')
search.head()

   user_id         page
0    15866  search_page
1   347058  search_page
2   577020  search_page
3   780347  search_page
4   383739  search_page

In [7]:
confirm = pd.read_csv('/Users/kexinluo/Desktop/DS_take_home/5.Funnel_Analysis/payment_confirmation_table.csv')
confirm.head()

   user_id                       page
0   123100  payment_confirmation_page
1   704999  payment_confirmation_page
2   407188  payment_confirmation_page
3   538348  payment_confirmation_page
4   841681  payment_confirmation_page

In [10]:
payment = pd.read_csv('/Users/kexinluo/Desktop/DS_take_home/5.Funnel_Analysis/payment_page_table.csv')
payment.head()

   user_id          page
0   253019  payment_page
1   310478  payment_page
2   304081  payment_page
3   901286  payment_page
4   195052  payment_page

# Data Processing

In [11]:
data = pd.merge(left=user, right=home, how='left', on='user_id')
data = pd.merge(left=data, right=search, how='left', on='user_id', suffixes=('_home', '_search'))
data = pd.merge(left=data, right=payment, how='left', on='user_id')
data = pd.merge(left=data, right=confirm, how='left', on='user_id', suffixes=('_payment', '_confirmation'))
data.head()

,user_id,date,device,sex,page_home,page_search,page_payment,page_confirmation
0,450007,2015-02-28,Desktop,Female,home_page,NaN,NaN,NaN
1,756838,2015-01-13,Desktop,Male,home_page,NaN,NaN,NaN
2,568983,2015-04-09,Desktop,Male,home_page,search_page,NaN,NaN
3,190794,2015-02-18,Desktop,Female,home_page,search_page,NaN,NaN
4,537909,2015-01-15,Desktop,Male,home_page,NaN,NaN,NaN