In [2]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import googlemaps

%matplotlib inline

# Load Dataset

In [4]:
address = pd.read_csv('/Users/kexinluo/Desktop/DS_take_home/14.shuttle_stops/Employee_Addresses.csv')
address.head()

                                          address  employee_id
0   98 Edinburgh St, San Francisco, CA 94112, USA          206
1        237 Accacia St, Daly City, CA 94014, USA         2081
2    1835 Folsom St, San Francisco, CA 94103, USA          178
3  170 Cambridge St, San Francisco, CA 94134, USA           50
4     16 Roanoke St, San Francisco, CA 94131, USA         1863

In [5]:
address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191 entries, 0 to 2190
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   address      2191 non-null   object
 1   employee_id  2191 non-null   int64
dtypes: int64(1), object(1)
memory usage: 34.4+ KB